{% extends "base.html.twig" %}
{% block body %}
<div class="container col-md-8 text-center">
    <h1 class="text text-primary">Student List</h1>
    <a class="btn btn-warning" href="{{ path('add_student') }}">ADD</a>
    <table class="table table-bordered mt-3">
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Student Age</th>
            <th>Student Grade</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.id }} </td>
            <td>{{ student.name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.grade }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}