{% extends "base.html.twig" %}
{% block body %}
<div class="container col-md-8 text-center">
    <h1 class="text text-primary">Student List</h1>
    <div class="container-sm col-sm-3">
        <table class="table table-hover mt-3">
            <tr>
                <th>Total students</th>
                <td>{{ students|length }}</td>
            </tr>
            <tr>
                <th>Highest grade</th>
                <td> </td>
            </tr>
            <tr>
                <th>Lowest grade</th>
                <td> </td>
            </tr>
            <tr>
                <th>Average grade</th>
                <td> </td>
            </tr>
            <tr>
                <th>Total males</th>
                <td> </td>
            </tr>
            <tr>
                <th>Total female</th>
                <td> </td>
            </tr>
        </table>
    </div>
    <a class="btn btn-warning" href="{{ path('create_student') }}">ADD</a>
    <table class="table table-bordered mt-3">
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Student Age</th>
            <th>Student Grade</th>
            <th>Student Gender</th>
            <th>Student Image</th>
            <th>Enrolment Date</th>
            <th>Graduated</th>
   
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.id }} </td>
            <td>{{ student.name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.grade }}</td>
            <td>{{ student.gender }} </td>
            <td>
                <img src="{{ student.image }}" width="100" height="100">
            </td>
            <td> {{ student.enrol | date('d/m/Y')}}
            <td> {{ student.graduate }} </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}