{% extends "base.html.twig" %}
{% block body %}
<div class="container col-md-6 text-center mt-3">
    <h1 class="text text-bg-success">Class List</h1>
    <a class="btn btn-outline-primary" href="{{ path('add_class')}}">Add new class</a>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Class Id</th>
                <th>Class Name</th>
                <th>Menu</th>
            </tr>
        </thead>
        <tbody>
        {% for class in classes %}
            <tr>
                <td>{{ class.id }} </td>
                <td>{{ class.name }}</td>
                <td>
                <a class="btn btn-info" href="{{ path('view_class_by_id', {'id': class.id })}}">Detail</a>
                <a class="btn btn-warning" href="{{ path('edit_class', {'id': class.id })}}">Edit</a>
                <a class="btn btn-danger" href="{{ path('delete_class', {'id': class.id })}}"
                onclick = "return confirm('Do you want to delete this class ?');"
                >Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}