{% extends "base.html.twig" %}
{% block body %}
<div class="container-fluid col-md-6 text-center mt-3">
    <h1 class="text text-primary"> Todo List </h1>
    {# nhận flash message từ controller #}
    {% for flash in app.session.flashBag.get("Error") %}
         <p class="alert alert-danger">{{ flash }} </p>
    {% endfor %} 
    {% for flash in app.session.flashBag.get("Success") %}
         <p class="alert alert-warning">{{ flash }} </p>
    {% endfor %} 
    <table class="table table-hover">
        <tr>
            <th>Todo No.</th>
            <th>Todo Title</th>
            <th>Todo Deadline</th>
            <th>Actions</th>
        </tr>
        {% for todo in todos %}
        <tr>
            <td>{{ todo.id }}</td>
            <td>{{ todo.name }}</td>
            <td>{{ todo.duedate | date('d/m/Y') }}</td>
            <td>
                <a class="btn btn-info" href="{{ path("todo_detail", {'id' : todo.id }) }}">Detail</a>
                <a class="btn btn-warning" href="{{ path("todo_edit", {'id' : todo.id }) }}">Update</a>
                <a class="btn btn-danger" href="{{ path("todo_delete", {'id' : todo.id }) }}"
                onclick="return confirm('Are you sure to delete this Todo ?');"
                >Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}