{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid col-md-8 text-center mt-3">
<h1 class="text text-bg-info"> {{lecturer.name }} </h1>
<div class="row">
   <div class="col">
      <img src="{{ asset('images/lecturer/'~lecturer.image) }}" width="250" height="250">
   </div>
   <div class="col">
      <h4>Birthday: {{ lecturer.dateofbirth | date('d/m/Y')}} </h4>
      <h4>Email: {{ lecturer.email }} </h4>
      <h4>Address: {{ lecturer.address }} </h4>
      <h4>Course List: </h4>
      {% if lecturer.course != null %}
         {% for course in lecturer.course %}
            <a href="{{ path('view_course_by_id', {'id': course.id })}}">
               <h5> {{ course.name }} </h5>
            </a>
         {% endfor %}
      {% endif %}
   </div>
</div>
{% endblock %}