{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-6 text-center mt-3">
    <h1 class="text text-bg-success">Lecturer List</h1>
    <a class="btn btn-outline-primary" href="{{ path('add_lecturer')}}">Add new lecturer</a>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Lecturer Id</th>
                <th>Lecturer Name</th>
                <th>Menu</th>
            </tr>
        </thead>
        <tbody>
        {% for lecturer in lecturers %}
            <tr>
                <td>{{ lecturer.id }} </td>
                <td>{{ lecturer.name }}</td>
                <td>
                <a class="btn btn-info" href="{{ path('view_lecturer_by_id', {'id': lecturer.id })}}">Detail</a>
                <a class="btn btn-warning" href="{{ path('edit_lecturer', {'id': lecturer.id })}}">Edit</a>
                <a class="btn btn-danger" href="{{ path('delete_lecturer', {'id': lecturer.id })}}"
                onclick = "return confirm('Do you want to delete this lecturer ?');"
                >Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}