{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-md-6 text-center mt-3">
    <h1 class="text text-success">Course List</h1>
    {# gán chức năng Add Course cho role Admin #}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('add_course')}}">
            <img src="{{ asset('images/icons/add.jpg')}}" width="80" height="30">
        </a>
    {% endif %}

    <br><br>
    <form class="form-group" action="{{ path('search_course_name') }}" method="post">
        <input class="form-control" type="search" name="keyword" required
        placeholder="Search by course name">
    </form>
    <div class="form-group mt-3 col-md-6">
    <select onchange="window.location.href=this.value" class="form-control">
        <option>Sort by</option>
        <option value="{{ path('sort_course_name_ascending')}}">Name Ascending</option>
        <option value="{{ path('sort_course_name_descending')}}">Name Descending</option>
    </select>
    </div>
    {% if courses == null %}
        <h4 class="text text-bg-danger mt-4">Course not found !</h4>
    {% else %}
    <table class="table table-primary mt-3">
        <thead>
          <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
         {% for course in courses %}
             <tr>
                 <td>{{ course.id }}</td>
                 <td>
                    <a href="{{ path('view_course_by_id', {'id': course.id })}}">
                        {{ course.name }}
                    </a>
                 </td>
                 <td>
                    <a class="text-decoration-none" href="{{ path('edit_course', {'id': course.id })}}">
                        <img src="{{ asset('images/icons/edit.png') }}" width="30" height="30" alt="Edit">
                    </a>
                    <a class="text-decoration-none" href="{{ path('delete_course', {'id': course.id })}}"
                    onclick="return confirm('Are you sure to delete this course ?');"
                    >
                        <img src="{{ asset('images/icons/delete.png') }}" width="30" height="30" alt="Edit">
                    </a>
                 </td>
             </tr>
         {% endfor %}
        </tbody>
    <table>
    {% endif %}
</div>
{% endblock %}
